{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}}
    <nav class="m-footer-social">
        <a href="https://wa.me/918591218994?text=Hey!%20I%20reached%20you%20through%20your%20blog.%20I%20wanted%20to%20know%20more%20about%20the%20offers." target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-whatsapp" aria-hidden="true"></span>
        </a>
        <a href="https://instagram.com/travelbugroute" target="_blank" rel="noopener" aria-label="Instagram">
          <span class="icon-instagram" aria-hidden="true"></span>
        </a>
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <span class="icon-rss" aria-hidden="true"></span>
      </a>
    </nav>
    <p class="m-footer-copyright">
      <span>TravelBug Route &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span> Designed and Maintained with 💜 by <a href="mailto:admin@travel-bug.co.in" target="_blank">Abhishek Srivastava  </a></span>
    </p>
    <p class="m-footer-copyright">
      Found a Bug? <a href="mailto:admin@travel-bug.co.in" target="_blank"> Let us know </a>
    </p>
  </div>
</footer>
